* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

a {
    color: #fbfaf8;
    text-decoration: none;
}

.site-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fbfaf8;
}

.header {
    display: flex;
    align-items: center;
    background-color: #0a122a;
    color: #fbfaf8;
    height: 4rem;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a122a;
    color: #fbfaf8;
    height: 3rem;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    color: #fbfaf8;
    width: 100%;
    font-size: 1.1rem;
}

.nav-left,
.nav-right {
    flex-grow: 1;
    flex-basis: 0;
}

.nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem; 
}



.nav-left > ul {
    list-style-type: none;
    display: flex; 
    gap: 1rem;
    
}

.register-btn {
    background-color: yellow;
    border: 2px solid yellow;
    padding: 3px 7px;
    border-radius: 5px;
    color: #0a122a;
}

.login-btn {
    border: 2px solid #fbfaf8;
    padding: 3px 7px;
    border-radius: 5px;
}

.brand-name {
    list-style-type: none;
    display: flex;
    gap: 0.2rem;
}

.brand-name > li {
    font-size: 1.3rem;
    font-weight: 700;
    width: 18px;
    background-color: #fbfaf8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a122a;
}

.brand-name .brand-last {
    background-color: yellow;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    width: 25px;
}

.no-wrap {
    white-space: nowrap;
}