* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.site-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fbfaf8;
}

.header {
    display: flex;
    align-items: center;
    background-color: #0a122a;
    color: #fbfaf8;
    height: 4rem;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a122a;
    color: #fbfaf8;
    height: 3rem;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    color: #fbfaf8;
    width: 100%;
    font-size: 1.1rem;
}

.nav-left,
.nav-right {
    flex-grow: 1;
    flex-basis: 0;
}

.nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem; 
}

.nav-left > ul {
    list-style-type: none;
    display: flex; 
    gap: 0.3rem;
}

.nav-left > ul > li > a{
    padding: 0.3rem 0.5rem;
    color: #fbfaf8;
}

.hover:hover {
    background-color: yellow;
    color: #0a122a;                                                                                                                                                                                                                             
}

.register-btn {
    background-color: yellow;
    border: 2px solid yellow;
    padding: 3px 7px;
    border-radius: 5px;
    color: #0a122a;
}

.login-btn {
    border: 2px solid #fbfaf8;
    padding: 3px 7px;
    border-radius: 5px;
}

.login-btn:hover {
    border-color: yellow;
}

.register-btn:hover {
    border-color: #fbfaf8;
    
    background-color: rgb(252, 252, 164);
}

.brand-name {
    list-style-type: none;
    display: flex;
    gap: 0.2rem;
}

.brand-name > li {
    font-size: 1.3rem;
    font-weight: 700;
    width: 18px;
    background-color: #fbfaf8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a122a;
}

.brand-name .brand-last {
    background-color: yellow;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    width: 25px;
}

.no-wrap {
    white-space: nowrap;
}

.main{
    display: flex;
    justify-content: center; 
}

.auth-page {
    padding: 1.5rem 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #0a122a;
}

.auth-page-header {
    text-align: center;
    font-size: 1.5rem;
}

.header-icon {
    background-color: rgb(139, 139, 255);
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 15px;
}

.auth-page-form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 350px;
}

.input-label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.input-field > input{
    width: 100%;
    height: 2.2rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #0a122a;
    border-radius: 5px;
    background-color: rgb(224, 220, 220);
    padding: 0 5px;

    flex-grow: 1;
}

.error-icon {
    font-size: 1.5rem;
    color: red;
    background-color: white;
    border-radius: 50%;
}

.error-box {
    margin-top: 0.2rem;
    font-size: 0.95rem;
}

.error-box > ul {
    list-style-type: none;
}

.error-list-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.error-x-icon {
    color: red;
}

.input-password-field {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.show-password-icon {
    font-size: 1.3rem;
}

.show-password-box {
    background-color: rgb(224, 220, 220);
    height: 2.2rem;
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    border: 1px solid #0a122a;
    border-radius: 5px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button > button {
    font-size: 1rem;
    background-color: yellow;
    padding:0.4rem 0.8rem;
    border-radius: 10px;
    border: 1px solid #0a122a;
    color: hsl(225, 62%, 10%);
}

.auth-page-footer {
    text-align: center;
}
